.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
}
.header {
    background-color:#007BFF;
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
}
.nav {
    /* display: flex;
    justify-content: center;
    background-color: #c2185b;
    padding: 10px; */
    display: flex;
    justify-content: center;
    padding: 8px 12px;
} 
.nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 35px 30px;
}
.ev-card {
    background: #F4F5F6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin: 15px;
    width: 250px;
    overflow: hidden;
    text-align: center;
}
.ev-card img {
    width: 100%;
    height: auto;
}
.ev-card h3 {
    padding: 10px;
    font-size: 18px;
    color: #212428;
}